- body_classes << "single_form"

#single_form
  %h1= t('please_login')       

  - form_tag login_url do
    %p
      %label{:for=>"user_login"}= t('username')  
      = text_field "user", "login", :class => 'textbox activate', :value => '', :maxlength => 40, :size => 40
    %p
      %label{:for=>"user_password"}= t('password') 
      = password_field "user", "password", :class => 'textbox password', :value => '', :maxlength => 40, :size => 40
    %p.remember_me
      = check_box_tag :remember_me, 1, false, :class => 'checkbox'
      %label.checkbox{:for=>"remember_me"}= t('remember_me_in_this_browser')
    %p.buttons
      %input.button{:type => "submit", :value => t('login')}

%p.version
  = t('powered_by')
  %a{ :href => "http://radiantcms.org" } Radiant CMS
  = t('version')   
  = Radiant.loaded_via_gem? ? "#{Radiant::Version} (gem)." : "#{Radiant::Version}."