- body_classes << "login"

#login
  %h1= t('views.welcome.login')

  - form_tag login_url do
    %p
      %label{:for=>"user_login"}= t('views.users.username')  
      = text_field "user", "login", :class => 'textbox activate', :value => '', :maxlength => 40, :size => 40
    %p
      %label{:for=>"user_password"}= t('views.users.password') 
      = password_field "user", "password", :class => 'textbox password', :value => '', :maxlength => 40, :size => 40
      &nbsp;
      %span.remember_me
        = check_box_tag :remember_me, 1, false, :class => 'checkbox'
        %label.checkbox{:for=>"remember_me"}= t('views.welcome.remember_me')   
    %p.buttons
      %input.button{:type=>"submit", :value=>"Login"}/

%p.version
  = t('views.layout.powered_by')
  %a{ :href => "http://radiantcms.org" } Radiant CMS
  = t('views.layout.version')   
  = Radiant.loaded_via_gem? ? "#{Radiant::Version} (gem)." : "#{Radiant::Version}."