- body_classes << "single_form"

#single_form
  %h1 Please Login

  - form_tag login_url do
    %p
      %label{:for=>"user_login"} Username
      = text_field "user", "login", :class => 'textbox activate', :value => '', :maxlength => 40, :size => 40
    %p
      %label{:for=>"user_password"} Password
      = password_field "user", "password", :class => 'textbox password', :value => '', :maxlength => 40, :size => 40
    %p.remember_me
      = check_box_tag :remember_me, 1, false, :class => 'checkbox'
      %label.checkbox{:for=>"remember_me"} Remember me in this browser
    %p.buttons
      %input.button{:type=>"submit", :value=>"Login"}/

%p.version
  Powered by
  %a{:href=>"http://radiantcms.org"} Radiant CMS
  version 
  = Radiant.loaded_via_gem? ? "#{Radiant::Version} (gem)" : "#{Radiant::Version}"