- content_for 'page_css' do
  :sass
    #content
      text-align: center
      #login
        background-color: #f5f1e2
        border: 5px solid #efead3
        text-align: left
        margin: 2em
        margin-left: auto
        margin-right: auto
        padding: 5px 20px
        padding-right: 22px
        position: relative
        width: 23.5em
        h1
          font-size: 140%    
          margin: 0
          margin-top: 13px
        table
          width: 100%
          margin: 15px 0 10px 0
          td
            text-align: left
            padding: 6px 0
            &.label
              width: 6em
            &.field
              input.textbox
                font-size: 100%
                width: 98%
            &.checkbox
              font-size: 85%
            &.buttons
              text-align: right
              input
                font-size: 140%

#login
  %h1= t('views.welcome.login')

  - form_tag login_url do
    %table
      %tr
        %td.label
          %label{:for=>"user_login"}= t('views.users.username')    
        %td.field{:colspan=>2}
          = text_field "user", "login", :class => 'textbox activate', :value => '', :maxlength => 40, :size => 40
      %tr
        %td.label
          %label{:for=>"user_password"}= t('views.users.password') 
        %td.field{:colspan=>2}
          = password_field "user", "password", :class => 'textbox', :value => '', :maxlength => 40, :size => 40
      %tr
        %td
        %td.checkbox
          = check_box_tag :remember_me, 1, false, :class => 'checkbox'
          %label.checkbox{:for=>"remember_me"}= t('views.welcome.remember_me')    
        %td.buttons
          %input.button{:type=>"submit", :value => t('views.welcome.login_btn')}/

= javascript_tag "$('user_login').activate();"