= fields.hidden_field :lock_version
= fields.hidden_field :parent_id
= fields.hidden_field :class_name

= render_region :form_top, :locals => {:f => fields}

- render_region :form, :locals => {:f => fields} do |form|
  - form.edit_title do
    %p.title
      %label{:for=>"page_title"}= t('page_title')
      = fields.text_field :title, :class => 'textbox', :maxlength => 255
  - form.edit_extended_metadata do
    .drawer
      .drawer_contents#attributes
        %table.fieldset
          = render :partial => "meta_row", :collection => @meta, :locals => {:f => fields}
          = render :partial => 'admin/page_fields/page_field', :collection => @page.fields
          = render_region :extended_metadata, :locals => {:f => fields}
      .drawer_handle
        %a.toggle{:href=>'#attributes', :rel=>"toggle[attributes]", :class=>"#{(meta_errors? ? 'less' : 'more')}"}= meta_label
  - form.edit_page_parts do
    #tab_control
      #tabs.tabs
        #tab_toolbar
          %a.popup{:href=> '#add_part_popup', :title=>t('add_part')}
            = image('add_tab', :alt=>t('add_part'), :title=>"")
      #pages.pages
        = render :partial => 'admin/page_parts/page_part', :collection => @page.parts
    = render_region :parts_bottom, :locals => {:f => fields}
  - form.edit_layout_and_type do
    .set
      %p
        = fields.label :layout_id, t('layout')
        = fields.select :layout_id, [[t('select.inherit') , '']] + Layout.find(:all).map { |s| [s.name, s.id] }
      %p
        = fields.label :status_id, t('status')
        = fields.select :status_id, status_to_display
      %p#published_at{:class => (@page.published? ? nil : 'hidden')}
        = fields.label :published_at, t('published_on')
        = fields.text_field :published_at, :class=> "date", :value => (@page.published_at? ? I18n.localize(@page.published_at.to_date, :format =>:long) : nil)
      = render_region :layout_row, :locals => {:f => fields}

- render_region :form_bottom, :locals => {:f => fields} do |form_bottom|
  - form_bottom.edit_buttons do
    - @buttons_partials.each do |partial|
      = render :partial => partial, :locals => {:f => fields}
    %p.buttons{:style=>"clear: left"}
      = save_model_button(@page)
      = save_model_and_continue_editing_button(@page)
      = t('or')
      = link_to t('cancel'), admin_pages_url
  - form_bottom.edit_timestamp do
    = updated_stamp @page
