= fields.hidden_field :lock_version
= fields.hidden_field :parent_id
= render_region :form_top

- render_region :form do |form|
  - form.edit_title do
    %p.title
      %label{:for=>"page_title"}
        Page Title
      = fields.text_field :title, :class => 'textbox', :maxlength => 255
  - form.edit_extended_metadata do
    #extended_metadata{meta_visible(:meta)}
      %table.fieldset
        = render :partial => "meta_row", :collection => @meta, :locals => {:f => fields}
        = render_region :extended_metadata, :locals => {:f => fields}
    %p.more_or_less
      %a{:href=>'#extended_metadata',:class => "#{(meta_errors? ? 'less' : 'more')}"}= meta_label
  - form.edit_page_parts do
    #tab_control
      #tabs.tabs
        #tab_toolbar
          %a.popup{:href=> '#add_part_popup', :title=>"Add Part"}
            = image('add_tab', :alt=>"Add Part", :title=>"")
      #pages.pages
        = render :partial => 'admin/page_parts/page_part', :collection => @page.parts
    = render_region :parts_bottom
  - form.edit_layout_and_type do
    .row
      %p
        = fields.label :layout_id, "Layout"
        = fields.select :layout_id, [['<inherit>', '']] + Layout.find(:all).map { |s| [s.name, s.id] }
      %p
        = fields.label :class_name, "Page Type"
        = fields.select :class_name, [['<normal>', '']] + Page.descendants.map { |p| [p.display_name, p.name] }.sort_by { |p| p.first }
      %p
        = fields.label :status_id, "Status"
        = fields.select :status_id, status_to_display
      %p#published_at{:class => (@page.published? ? nil : 'hidden')}
        = fields.label :published_at, "Published On"
        = fields.text_field :published_at, :class=> "date", :value => (@page.published_at? ? @page.published_at.to_date.to_formatted_s(:long) : nil)
      = render_region :layout_row, :locals => {:f => fields}

- render_region :form_bottom do |form_bottom|
  - form_bottom.edit_buttons do
    - @buttons_partials.each do |partial|
      = render :partial => partial, :locals => {:f => fields}
    %p.buttons{:style=>"clear: left"}
      = save_model_button(@page)
      = save_model_and_continue_editing_button(@page)
      or
      = link_to 'Cancel', admin_pages_url
  - form_bottom.edit_timestamp do
    = updated_stamp @page
  