%tr.node.page{:class =>"level_#{level}#{children_class}#{virtual_class}", :id => "page_#{page.id}"}
  - render_region :node, :locals => {:page => page, :level => level, :simple => simple} do |node|
    - node.title_column do
      %td.page{:style => "padding-left: #{padding_left(level)}px"}
        %span.w1
          - if simple
            = icon
            = node_title
          - else
            = expander(level) + link_to("#{icon} #{node_title}", edit_admin_page_url(page), :title => page.url)
            = page_type
            = spinner
    - node.status_column do
      - unless simple
        %td.status{:class => "#{page.status.name.downcase}_status"}= page.status.name
    - node.add_child_column do
      - unless simple
        %td.add_child= link_to image('add_child', :alt => 'add child'), new_admin_page_child_url(page)
    - node.remove_column do
      - unless simple
        %td.remove= link_to image('remove', :alt => 'remove page'), remove_admin_page_url(page)

- if expanded
  - page.children.each do |child|
    = render_node child, :level => level + 1, :simple => simple