- content_for 'popups' do
  #add_part_popup.popup{:style => "display: none"}
    #add_part_busy.busy{:style => "display: none"}= image 'spinner.gif'
    %h3.title= t('add_part')
    - form_for([:admin, PagePart.new], :html => { :onsubmit => "addPart(this); return false" }) do |f|
      %p
        %label{:for => 'part_name_field'} Name
        = f.text_field :name, :id => 'part_name_field', :maxlength => 100, :style => "width: 15em", :class => "textbox big"
        = hidden_field_tag 'index', @page.parts.size, :id => 'page_part_index_field'
      %p.buttons
        = submit_tag t('add_part'), :id => 'add_part_button', :class => "button"
        or
        = link_to_function 'Cancel', "$(this).closePopup()"
  = render_region :popups
