- @page_title = t('pages') + ' - ' + default_page_title

.outset
  = render_region :top
  %table.index#pages{:summary=>t('page_hierarchy')}
    %thead
      %tr
        - render_region :sitemap_head do |sitemap_head|
          - sitemap_head.title_column_header do
            %th.name= t('page') 
          - sitemap_head.status_column_header do
            %th.status= t('status')
          - sitemap_head.actions_column_header do
            %th.actions= t('modify')
    %tbody
      - if @homepage
        = render_node @homepage
      - else
        %tr
          %td.empty{:colspan => admin.page.index.node.length}= t('no_pages')
  = render_region :bottom

- unless @homepage
  #actions
    %ul
      %li= link_to image('plus') + " " + t("new_homepage"), new_admin_page_path, :class => 'action_button'