- @page_title = t('pages') + ' - ' + default_page_title

.outset
  = render_region :top
  %table#site_map.index{:summary=>"Page hierarchy of the current site"}
    %thead
      %tr
        - render_region :sitemap_head do |sitemap_head|
          - sitemap_head.title_column_header do
            %th.page= t('page') 
          - sitemap_head.status_column_header do
            %th.status= t('status')
          - sitemap_head.modify_column_header do
            %th.modify{:colspan=>"2"}= t('modify')
    %tbody
      - if @homepage
        = render_node @homepage
      - else
        %tr
          %td.note{:colspan => admin.page.index.node.length}= t('no_pages')
  = render_region :bottom

- unless @homepage
  #actions
    %ul
      %li= link_to "New Homepage", new_admin_page_path