- @page_title = t('pages') + ' - ' + default_page_title

.outset
  = render_region :top
  %table#site_map.index{:summary=>"Page hierarchy of the current site"}
    %thead
      %tr
        - render_region :sitemap_head do |sitemap_head|
          - sitemap_head.title_column_header do
            %th.page= t('page') 
          - sitemap_head.status_column_header do
            %th.status= t('status')
          - sitemap_head.modify_column_header do
            %th.modify{:colspan=>"2"}= t('modify')
    %tbody
      - if @homepage
        = render_node @homepage
      - else
        %tr
          %td.empty{:colspan => admin.page.index.node.length}= t('no_pages')
  = render_region :bottom

- unless @homepage
  #actions
    %ul
      %li= link_to image('plus') + " " + t("new_homepage"), new_admin_page_path

%ul.menu#add_child_dropdown
  %li
    %a{:href=>"/admin/pages/new"} Normal Page
  %li.separator
  %li
    %a{:href=>"/admin/pages/new"} Archive
  %li
    %a{:href=>"/admin/pages/new"} Archive Day Index
  %li
    %a{:href=>"/admin/pages/new"} Archive Month Index
  %li
    %a{:href=>"/admin/pages/new"} Archive Year Index
  %li
    %a{:href=>"/admin/pages/new"} File Not Found