- include_javascript 'admin/sitemap'

%h1= t('views.pages.pages')

= render_region :top

%table#site-map.index{:summary=>"Page hierarchy of the current site"}
  %thead
    %tr
      - render_region :sitemap_head do |sitemap_head|
        - sitemap_head.title_column_header do
          %th.page
            = t('views.pages.page') 
        - sitemap_head.status_column_header do
          %th.status
            = t('views.pages.status')
        - sitemap_head.modify_column_header do
          %th.modify{:colspan=>"2"} 
            = t('views.shared.modify')
  %tbody
    - if @homepage
      = render_node @homepage
    - else
      %tr
        %td.note{:colspan => 4} 
          = t('views.pages.no_pages')

= render_region :bottom

- unless @homepage
  %p
    = link_to image('new-homepage', :alt => 'New Homepage'), new_admin_page_url