- include_javascript 'admin/sitemap'
- pages = @page.children.count > 1 ? t('views.pages.pages') : t('views.pages.page')
%h1
  = t('views.pages.remove_pages', :pages => pages)

%p 
  = t('views.pages.remove_warning_text', :pages => pages) 
  
%table.index#site-map{:cellpadding=>0, :cellspacing=>0, :border=>0}
  %tbody
    = render_node @page, :simple => true

- form_for [:admin, @page.becomes(Page)], :html => {:method => :delete} do
  %p.buttons
    %input.button{:type=>"submit", :value => t('views.pages.delete_pages', :pages => pages) }/
    = t('views.shared.or')    
    = link_to t('views.shared.cancel'), admin_pages_url