- render_region :main do |main|
  - main.edit_header do
    - if @snippet.new_record?
      %h1 New Snippet
    - else
      %h1 Edit Snippet
  - main.edit_form do
    - form_tag do
      = hidden_field 'snippet', 'lock_version'
      = render_region :form_top
      .form-area
        - render_region :form do |form|
          - form.edit_title do
            %p.title
              %label{:for=>"snippet_name"} Name
              = text_field "snippet", "name", :class => 'textbox', :maxlength => 100
          - form.edit_content do
            %p.content
              %label{:for=>"snippet_content"} Body
              ~ text_area "snippet", "content", :class => "textarea", :style => "width: 100%"
          - form.edit_filter do
            %p
              %label{:for=>"snippet_filter"} Filter
              = select_tag "snippet[filter_id]", options_for_select([['none', '']] + TextFilter.descendants.map { |f| f.filter_name }.sort, @snippet.filter_id), :id => 'snippet_filter' 
          - form.edit_timestamp do
            = updated_stamp @snippet

      = javascript_tag "$('snippet_name').activate()"
      
      - render_region :form_bottom do |form_bottom|
        - form_bottom.edit_buttons do
          %p.buttons
            = save_model_button(@snippet)
            = save_model_and_continue_editing_button(@snippet)
            or
            = link_to 'Cancel', snippet_index_url