- render_region :main do |main|
  - main.edit_header do
    - if @user.new_record?
      %h1 New User
    - else
      %h1 Edit User
  - main.edit_form do
    - form_tag do
      = hidden_field 'user', 'lock_version'
      = render_region :form_top
      %table.fieldset{:cellpadding=>0, :cellspacing=>0, :border=>0}
        - render_region :form do |form|
          - form.edit_name do
            %tr
              %th.label
                %label{:for=>"user_name"} Name
              %td.field
                = text_field "user", "name", :class => 'textbox', :maxlength => 100 
              %td.help Required.
          - form.edit_email do
            %tr
              %th.label
                %label.optional{:for=>"user_email"} E-mail
              %td.field
                = text_field "user", "email", :class => 'textbox', :maxlength => 255
              %td.help
                Optional. Please use a valid e-mail address.
          - form.edit_username do
            %tr
              %th.label
                %label{:for=>"user_login"} Username
              %td.field
                = text_field "user", "login", :class => 'textbox', :maxlength => 40 
              %td.help
                At least 3 characters. Must be unique.
          - form.edit_password do
            %tr
              %th.label
                %label{:for=>"user_password"} Password
              %td.field
                = password_field "user", "password", :class => 'textbox', :value => '', :maxlength => 40
              %td.help{:rowspan=>2}
                At least 5 characters.
                - unless @user.new_record?
                  Leave password blank for it to remain unchanged.
            %tr
              %th.label
                %label{:for=>"user_password_confirmation"} Confirm&nbsp;Password
              %td.field
                = password_field "user", "password_confirmation", :class => 'textbox', :value => '', :maxlength => 40
          - form.edit_roles do
            %tr
              %th.label
                %label{:for=>"user_admin"} Roles
              %td.field
                %span.checkbox
                  = check_box "user", "admin" 
                  %label{:for=> "user_admin"} Administrator
                %span.checkbox
                  = check_box "user", "developer" 
                  %label{:for=> "user_developer"} Developer
              %td.help
                Roles restrict user privileges and turn parts of the administrative interface on or off.
          - form.edit_notes do
            %tr
              %th.label
                %label.optional{:for=>"user_notes"} Notes
              %td.field
                ~ text_area "user", "notes", :size => '40x4', :class => "textarea" 
              %td.help
                Optional.
      - render_region :form_bottom do |form_bottom|
        - form_bottom.edit_timestamp do
          = updated_stamp @user  
        - form_bottom.edit_buttons do
          %p.buttons
            = save_model_button(@user)
            = save_model_and_continue_editing_button(@user)
            or 
            = link_to "Cancel", user_index_url