- body_classes << "reversed"
- @selected = :general

- render_region :main do |main|
  - main.edit_header do
    %h1 Configuration

  - main.edit_form do
    - form_for :config, :url => admin_configuration_url, :html => {"data-onsubmit_status"=>"Saving changes&#8230;", :method => :put} do |f|
      = render_region :form_top
      - render_region :form do |form|
        - form.edit_site do
          %fieldset
            %h3 Site  
            - Radiant.config.site_settings.each do |site_setting|
              %p
                = edit_config site_setting
  
        - form.edit_defaults do
          %fieldset
            %h3 Defaults
            - Radiant.config.default_settings.each do |default_setting|
              %p
                = edit_config default_setting
  
        - form.edit_users do
          %fieldset
            %h3 Passwords
            - Radiant.config.user_settings.each do |user_setting|
              %p
                = edit_config user_setting
    
      - render_region :form_bottom do |form_bottom|
        - form_bottom.edit_buttons do
          .buttons
            %input.button{:type=>"submit", :value=>"Save Changes"}/
            or
            = link_to "Cancel", admin_configuration_url
