- body_classes << "reversed"

#settings.box
  - render_region :settings do |settings|
    - settings.site do
      %h3
        - if admin?
          .actions
            = button_to "Edit settings", edit_admin_configuration_url, :method => :get
        Site configuration
      %p.ruled
        = show_setting 'site.title'
      %p.ruled
        = show_setting 'site.domain'
      %p.ruled
        = show_setting 'dev.host'
      %p.ruled
        = show_setting 'local.timezone'

    - settings.defaults do
      %h4 Defaults
      %p.ruled
        = show_setting 'defaults.locale'
      %p.ruled
        = show_setting 'defaults.page.filter'
      %p.ruled
        = show_setting 'defaults.page.parts'
      %p.ruled
        = show_setting 'defaults.page.fields'
      %p.ruled
        = show_setting 'defaults.page.status'

    - settings.users do
      %h4 Passwords
      %p.ruled
        = show_setting 'user.allow_password_reset?'
