- content_for :page_css do
  :sass
    table.index 
      h4
        font-size: 110%
        margin-top: .5em
        margin-bottom: .25em
      p
        margin-top: .25em
        margin-bottom: .5em

%h1= t('views.extensions.extensions')

= render_region :top

%table#extensions.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
  %thead
    %tr
      - render_region :thead do |thead|
        - thead.title_header do
          %th.extension 
            = t('views.extensions.extension')
        - thead.website_header do
          %th.website 
            = t('views.extensions.website') 
        - thead.version_header do
          %th.version 
            = t('views.extensions.version')
  %tbody
    - @extensions.each do |extension|
      %tr.node.level-1
        - render_region :tbody do |tbody|
          - tbody.title_cell do
            %td.extension
              %h4= h extension.extension_name
              %p= h extension.description
          - tbody.website_cell do 
            %td.website
              = extension.url.nil? || extension.url.empty? ? "" : link_to(t('views.extensions.website'), extension.url, :target => "_blank")
          - tbody.version_cell do
            %td.version= h extension.version

= render_region :bottom