- @page_title = 'Extensions - ' + default_page_title

- content_for :page_css do
  :sass
    table.index 
      h4
        font-size: 110%
        margin-top: .5em
        margin-bottom: .25em
      p
        margin-top: .25em
        margin-bottom: .5em

= render_region :top

.outset
  %table#extensions.index
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.extension= t('extension')
          - thead.website_header do
            %th.website= t('website') 
          - thead.version_header do
            %th.version= t('version')
    %tbody
      - @extensions.each do |extension|
        %tr.node.level_1
          - render_region :tbody do |tbody|
            - tbody.title_cell do
              %td.extension
                %h4= h extension.extension_name
                %p= h extension.description
            - tbody.website_cell do 
              %td.website
                = extension.url.nil? || extension.url.empty? ? "" : link_to(t('website'), extension.url, :target => "_blank")
            - tbody.version_cell do
              %td.version= h extension.version

= render_region :bottom