- @page_title = @user.name + ' Preferences - ' + default_page_title

- body_classes << "reversed"

- render_region :main do |main|
  - main.edit_header do
    %h1= t('personal_preferences') 

  - main.edit_form do
    - form_for @user, :url => admin_preferences_url, :html => { :method => :put, :onsubmit_status => "Saving preferences&#8230;" } do |f|
      = render_region :form_top
      
      - render_region :form do |form|
        - form.edit_name do
          %p
            = f.label :name, t("name")
            = f.text_field :name, :class => "textbox activate", :size => 32, :maxlength => 100 
        
        - form.edit_email do
          %p
            = f.label :email,  t("email_address"), :class => "optional"
            = f.text_field "email", :class => 'textbox', :size => 32, :maxlength => 255
        
        - form.edit_username do
          %p
            = f.label :login, t("username")
            = f.text_field "login", :class => "textbox", :size => 32, :maxlength => 40
        
        - form.edit_language do
          %p
            = f.label :language, t('language') 
            = f.select "language", Radiant::AvailableLocales.locales.merge({'<default>'=>''})
            
        - form.edit_password do
          = render "admin/users/password_fields", :f => f
      
      - render_region :form_bottom do |form_bottom|
        - form_bottom.edit_buttons do
          %p.buttons
            = save_model_button @user
            = t('or')
            = link_to t('cancel'), admin_url

