- body_classes << "reversed"

- render_region :main do |main|
  - main.edit_header do
    %h1 Personal Preferences
  - main.edit_form do
    - form_for @user, :url => admin_preferences_url, :html => { :method => :put } do |f|
      - render_region :form_top
      - render_region :form do |form|
        - form.edit_password do
          %p
            = label_tag :user_password, "Password"
            = f.password_field "password", :class => 'textbox', :value => '', :size => 32, :maxlength => 40
            %span.hint At least 5 characters. Leave password blank for it to remain unchanged.
          %p
            = label_tag :user_password_confirmation, "Confirm Password"
            = f.password_field "password_confirmation", :class => 'textbox', :value => '', :size => 32, :maxlength => 40
        - form.edit_email do
          %p
            = label_tag :user_email, "E-mail"
            = f.text_field "email", :class => 'textbox', :size => 32, :maxlength => 255
            %span.hint Optional.
      - render_region :form_bottom do |form_bottom|
        - form_bottom.edit_buttons do
          %p.buttons
            = save_model_button @user
            or
            = link_to 'Cancel', admin_url
