- form_for [:admin, @snippet] do |f|
  = f.hidden_field :lock_version
  = render_region :form_top
  .form-area
    - render_region :form do |form|
      - form.edit_title do
        %p.title
          %label{:for=>"snippet_name"} Name
          = f.text_field :name, :class => 'textbox activate', :maxlength => 100
      - form.edit_content do
        %p.content
          %label{:for=>"snippet_content"} Body
          ~ f.text_area :content, :class => "textarea", :style => "width: 100%"
      .row
        - form.edit_filter do
          %p
            %label{:for=>"snippet_filter_id"} Filter
            = f.select :filter_id, [['none', '']] + TextFilter.descendants.map { |f| f.filter_name }.sort, :id => 'snippet_filter'
  - render_region :form_bottom do |form_bottom|
    - form_bottom.edit_buttons do
      %p.buttons{:style=>"clear: left"}
        = save_model_button(@snippet)
        = save_model_and_continue_editing_button(@snippet)
        or
        = link_to 'Cancel', admin_snippets_url
    - form_bottom.edit_timestamp do
      %p.updated_line
        = updated_stamp @snippet
