- @page_title = t('snippets') + ' - ' + default_page_title

.outset
  = render_region :top
  %table.index#snippets
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.snippet= t('snippet')
          - thead.actions_header do
            %th.actions{:style=>"width:9em"}= t('modify')
    %tbody
      - if @snippets.any?
        - @snippets.each do |snippet|
          %tr[snippet]
            - render_region :tbody, :locals => {:snippet => snippet} do |tbody|
              - tbody.title_cell do
                %td.name
                  = image('snippet', :alt => '')
                  = link_to snippet.name, edit_admin_snippet_url(snippet)
              - tbody.actions_cell do
                %td.actions
                  = link_to image('minus') + ' ' + t('remove'), remove_admin_snippet_url(snippet), :class => "action"
      - else
        %tr
          %td.empty{:colspan => admin.snippet.index.tbody.length}= t('no_snippets')

- render_region :bottom do |bottom|
  - bottom.new_button do
    #actions
      %ul
        %li= link_to image('plus') + " " + t('new_snippet'), new_admin_snippet_url
        %li{:style=>"float:right"}= pagination_for(@snippets)
