- form_for [:admin, @layout], :html => {:onsubmit_status => onsubmit_status(@layout)} do |f|
  = f.hidden_field :lock_version
  = render_region :form_top
  .form_area
    - render_region :form do |form|
      - form.edit_title do
        %p.title
          = f.label :name, t('name')
          = f.text_field :name, :maxlength => 100, :class => "textbox"
      - form.edit_extended_metadata do
        #extended_metadata{:style=>(!meta_errors? ? "display: none" : nil)}
          %table.fieldset
            %tr
              %th.label
                = f.label :content_type, t('content_type')
              %td.field
                = f.text_field :content_type, :maxlength => 40, :class => "textbox"
            = render_region :extended_metadata
        %p.more_or_less
          %a{:id=>"more_extended_metadata", :href=>"javascript: $('extended_metadata').show(); $('less_extended_metadata').show(); $('more_extended_metadata').hide(); this.stop()", :style=>(meta_errors? ? "display: none" : nil)}= t('more')
          %a{:id=>"less_extended_metadata", :href=>"javascript: $('extended_metadata').hide(); $('more_extended_metadata').show(); $('less_extended_metadata').hide(); this.stop()", :style=>(!meta_errors? ? "display: none" : nil)}= t('hide')
      - form.edit_content do
        %p.content
          = f.label :layout_content, "Body"
          ~ f.text_area :content, :size => "40x20", :style => "width: 100%", :class => "textarea large"
  = javascript_tag "$('layout_name').activate()"
  - render_region :form_bottom do |form_bottom|
    - form_bottom.edit_buttons do
      %p.buttons
        = save_model_button @layout
        = save_model_and_continue_editing_button @layout
        = t('or') 
        = link_to t('cancel'), admin_layouts_url
    - form_bottom.edit_timestamp do
      = updated_stamp @layout
