- @page_title = t('layouts') + ' - ' + default_page_title

.outset
  = render_region :top
  %table#layouts.index
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.layout
              = t('layout')
          - thead.modify_header do
            %th.modify
              = t('modify')
    %tbody
      - if @layouts.any?
        - @layouts.each do |layout|
          %tr.node.level_1
            - render_region :tbody, :locals => {:layout => layout} do |tbody|
              - tbody.title_cell do
                %td.layout
                  = image('layout', :alt => '')
                  = link_to layout.name, edit_admin_layout_url(layout)
              - tbody.modify_cell do
                %td.remove
                  = link_to t('remove'), remove_admin_layout_url(layout)
      - else
        %tr
          %td.empty{:colspan => admin.layout.index.tbody.length}= t('no_layouts')

- render_region :bottom do |bottom|
  - bottom.new_button do
    #actions
      = pagination_for(@layouts)
      %ul
        %li= link_to image('plus') + " " + t('new_layout'), new_admin_layout_url