- @page_title = t('layouts') + ' - ' + default_page_title

.outset
  = render_region :top
  %table.index#layouts
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.name
              = t('layout')
          - thead.actions_header do
            %th.actions{:style=>"width:9em"}
              = t('modify')
    %tbody
      - if @layouts.any?
        - @layouts.each do |layout|
          %tr[layout]
            - render_region :tbody, :locals => {:layout => layout} do |tbody|
              - tbody.title_cell do
                %td.name
                  = image('layout', :alt => '')
                  = link_to layout.name, edit_admin_layout_url(layout)
              - tbody.actions_cell do
                %td.actions
                  = link_to image('minus') + ' ' + t('remove'), remove_admin_layout_url(layout), :class => "action"
      - else
        %tr
          %td.empty{:colspan => admin.layout.index.tbody.length}= t('no_layouts')

- render_region :bottom do |bottom|
  - bottom.new_button do
    #actions
      = pagination_for(@layouts)
      %ul
        %li= link_to image('plus') + " " + t('new_layout'), new_admin_layout_url