%h1
  = t('views.layouts.remove_layout')

%p= t('views.layouts.remove_warning_text')

%table.index#layouts{:cellpadding=>0, :cellspacing=>0, :border=>0}
  %tbody
    %tr.node.level-1
      %td.layout
        = image('layout', :alt => 'layout-icon')
        = h @layout.name

- form_for [:admin, @layout], :html => { :method => 'delete' } do
  %p.buttons
    %input.button{:type => "submit", :value => t('views.layouts.delete_layout')  }/
    = t('views.shared.or')
    = link_to t('views.shared.cancel'), admin_layouts_url