%h1
  = t('remove_layout')

%p= t('text.layouts.remove_warning')

%table.index#layouts{:cellpadding=>0, :cellspacing=>0, :border=>0}
  %tbody
    %tr.node.level_1
      %td.layout
        = image('layout', :alt => 'layout-icon')
        = h @layout.name

- form_for [:admin, @layout], :html => { :method => 'delete' } do
  %p.buttons
    %input.button{:type => "submit", :value => t('delete_layout')  }/
    = t('or')
    = link_to t('cancel'), admin_layouts_url