%p#display_password{:style=> @user.new_record? ? "display: none" : nil}
  %label= t('views.users.password')
  %span.value
    &bull;&bull;&bull;&bull;&bull;
    %a.action{:href=>"#", :onclick=>" $('display_password').hide(); $('change_password').show()"}= t('views.users.change')
.set#change_password{:style=> @user.new_record? ? nil : "display: none"}
  %p
    = f.label :password, t('views.users.new_password')
    = f.password_field "password", :class => "textbox big", :value => "", :size => 15, :maxlength => 40
  %p
    = f.label :password_confirmation, t('views.users.password_confirmation')
    = f.password_field "password_confirmation", :class => "textbox big", :value => "", :size => 15, :maxlength => 40
    - unless @user.new_record?
      %small
        = t('views.shared.or')
        %a{:href=>"#", :onclick=>" $('display_password').show(); $('change_password').hide()"}= t('views.shared.cancel')