%p#display_password{:style=> (@user.new_record? or !@user.valid?) ? "display: none" : nil}
  %label= t('password')
  %span.value
    &bull;&bull;&bull;&bull;&bull;
    %a.action{:href=>"#", :onclick=>" $('display_password').hide(); $('change_password').show()"}= t('change')
.set#change_password{:style=> (!@user.new_record? && @user.valid?) ? "display: none" : nil}
  %p
    = f.label :password, t('new_password')
    = f.password_field "password", :class => "textbox big", :value => "", :size => 15, :maxlength => 40, :autocomplete => 'off'
  %p
    = f.label :password_confirmation, t('password_confirmation')
    = f.password_field "password_confirmation", :class => "textbox big", :value => "", :size => 15, :maxlength => 40, :autocomplete => 'off'
    - unless @user.new_record?
      %span
        = t('or')
        %a{:href=>"#", :onclick=>" $('display_password').show(); $('change_password').hide()"}= t('cancel')

        
