!!!
%html{html_attrs}
  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html; charset=utf-8"}/
    %title= @page_title || default_page_title
    - @stylesheets.uniq.each do |stylesheet|
      = stylesheet_link_tag stylesheet
    - @javascripts.uniq.each do |javascript|
      = javascript_include_tag javascript
    /[if lt IE 7]
      %script{:type=>"text/javascript", :src=>"/javascripts/pngfix.js"}
    - if @content_for_page_scripts
      = javascript_tag @content_for_page_scripts
    - if @content_for_page_css
      %style{:type => "text/css"}= @content_for_page_css
    = yield :meta
  %body{:class=>body_classes.join(" ")}
    #page
      #header
        / - if logged_in?
        /   #navigation= links_for_navigation
        - if logged_in?
          #site_links
            = %{Logged in as #{link_to h(current_user.name), edit_admin_preferences_path} &nbsp; (#{link_to "Logout", logout_path})}
            &nbsp;
            %a{:href=>"#view_site_popup", :id=>"view_site", :onclick=>"return false"} View Site
          %ul#navigation
            - @selected = :pages
            - nav_tabs.each do |primary_item|
              %li{:class=>(primary_item[@selected] ? 'current' : nil)}
                %a{:href=>(primary_item.first.url unless primary_item.first.nil?)}
                  = primary_item.proper_name
                - if primary_item[@selected]
                  %ul#nav_sub
                    - primary_item.each do |sub_item|
                      %li
                        %a{:href=>sub_item.url, :class=>(sub_item.name == @selected ? 'current' : nil)}>
                          %span
                            = sub_item.proper_name
          #header_bottom
            %div
      #main
        - if flash[:notice]
          #notice
            %p= flash[:notice]
        - if flash[:error]
          #error
            %p= flash[:error]
        #content
          = find_and_preserve(yield)
      - if @content_for_popups
        #popups
          = yield :popups