!!!
%html{html_attrs}
  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html; charset=utf-8"}/
    %title= @page_title || default_page_title
    - @stylesheets.uniq.each do |stylesheet|
      = stylesheet_link_tag stylesheet
    - @javascripts.uniq.each do |javascript|
      = javascript_include_tag javascript
    /[if lt IE 7]
      %script{:type=>"text/javascript", :src=>"/javascripts/pngfix.js"}
    - if @content_for_page_scripts
      = javascript_tag @content_for_page_scripts
    - if @content_for_page_css
      %style{:type => "text/css"}= @content_for_page_css
  %body
    #page
      #header
        #site-title= link_to_unless_current title, admin_url
        #site-subtitle= subtitle
        - if logged_in?
          #navigation= links_for_navigation
      %hr{:class=>"hidden"}/
      #main
        - if flash[:notice]
          #notice
            %p= flash[:notice]
        - if flash[:error]
          #error
            %p= flash[:error]
        #content
          = find_and_preserve(yield)
      %hr{:class=>"hidden"}/
      #footer
        %p 
          = t('views.layout.made_with_ruby')
          %a{:href=>"http://radiantcms.org"} Radiant CMS
          = t('views.layout.version')   
          = Radiant.loaded_via_gem? ? "#{Radiant::Version} (gem)." : "#{Radiant::Version}."
        %p#site-links
          - if logged_in?
            - if admin?
              = nav_link_to t('views.layout.users'), admin_users_path
              %span.separator=" | "
              = nav_link_to t('views.layout.extensions'), admin_extensions_path
            - else
              = nav_link_to t('views.layout.preferences'), admin_preferences_url
            %span.separator=" | "
            = nav_link_to t('views.layout.log_out'), logout_url
            %span.separator=" | "
            = link_to image('view-site.gif', :alt => t('views.layout.view_site'), :title => ''), root_url
      - if @content_for_popups
        #popups
          = yield :popups